/*CSS Reset / Normalize
Foi usado o npm install normalize.css
https://github.com/necolas/normalize.css
*/
/*
Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

:root {
  --cor-letras: #464646;
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

body {
  box-sizing: border-box;
  background-image: url(./assets/cv/back_cv5.jpg);
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*Sessão Menu*/

section.menu {
  display: flex;
  margin: 20px 30px 20px 30px;
  align-items: center;
}
header {
  display: flex;
  margin-left: 0.3%;
  align-items: center;
  gap: 10px;
}
header h3 {
  font-size: 1.5rem;
}
img {
  height: 30px;
  width: 20px;
}

nav {
  font-size: 1rem;
  font-weight: 400;
  width: 70%;
}
nav .menu__list {
  font-weight: 500;
  display: flex;
  gap: 2rem;
  margin-left: 10rem;
}

#skills_hover:hover {
  border-radius: 30%;
  padding: 2px 0px 2px 0px;
  font-weight: 900;
  color: #f1f0e5;
  background: #061283;
  transition: background-color 3s ease;
}

#hobbies_hover:hover {
  border-radius: 30%;
  padding: 2px 0px 2px 0px;
  font-weight: 900;
  color: #f1f0e5;
  background: #19216e;
  transition: background-color 3s ease;
}

#formacao_hover:hover {
  border-radius: 30%;
  padding: 2px 0px 2px 0px;
  font-weight: 900;
  color: #f1f0e5;
  background: #19216e;
  transition: background-color 3s ease;
}

#xp_hover:hover {
  border-radius: 30%;
  padding: 2px 0px 2px 0px;
  font-weight: 900;
  color: #f1f0e5;
  background: #19216e;
  transition: background-color 3s ease;
}

#contato_hover:hover {
  border-radius: 30%;
  padding: 5px 3px 5px 3px;
  font-weight: 900;
  color: #570202;
  background: #8b95eb;
  transition: background-color 3s ease;
}
/*Sessão Title*/

section .title {
  justify-content: space-between;
  align-items: center;
}
.title__profile {
  margin-top: 15px;
  height: 400px;
  width: 420px;
  border-radius: 50%;
}

.title__profile {
  display: flex;
  float: right;
  z-index: 1;
  margin-right: 110px;
  margin-top: 2.3rem;
  margin-bottom: 3rem;
}

.title__container {
  margin: 20px 20px 20px 20px;
  width: 60%;
}
.title__container h2 {
  font-size: 28px;
  font-weight: 600;
  padding-top: 15px;
}

.title__network__item img {
  padding-right: 5px;
  height: 12px;
  width: 12px;
}
.title__network {
  display: flex;
  font-size: large;
  gap: 25%;
  margin: 30px;
}

#github a:hover {
  border-radius: 30%;
  padding: 2px 0px 2px 0px;
  font-weight: 500;
  color: #f1f0e5;
  background: #5c67c9;
  transition: background-color 3s ease;
}

#linkedin a:hover {
  border-radius: 30%;
  padding: 2px 0px 2px 0px;
  font-weight: 500;
  color: #f1f0e5;
  background: #5c67c9;
  transition: background-color 3s ease;
}

#curriculo a:hover {
  border-radius: 30%;
  padding: 2px 0px 2px 0px;
  font-weight: 500;
  color: #f1f0e5;
  background: #5c67c9;
  transition: background-color 3s ease;
}

/*Sessão About*/

section.about {
  margin: 30px 20px 30px 0px;
  padding-left: 15px;
  height: 18%;
  width: 120%;
  background-image: url(./assets/cv/notboock_cafe_mesa1.jpg);
  font-weight: 500;
}

.about__title {
  padding-top: 10px;
}

.assinatura {
  font-weight: 500;
  height: 4rem;
  width: 8rem;
}

.about__paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
  font-weight: 500;
}

/* Sessão de Skills/Habilidades */

section.skills h3 {
  display: flex;
  padding: 15px 15px 15px 15px;
}
.skills__line {
  display: inline-flex;
  gap: 30%;
}

.skills__box {
  margin-left: 50px;
  padding: auto;
  justify-content: space-between;
}

.skills__img_html {
  padding-left: 10px;
}

.skills__img_javascript {
  padding-left: 25px;
}

.skills__img_react {
  padding-left: 12px;
}

.skills__img_css {
  padding-right: 15px;
}

/* Experiência Acadêmica*/

#formacao {
  display: flex;
  padding: 15px 15px 15px 15px;
}

.academic__courses {
  display: flex;
  gap: 10%;
}

.academic__courses__box {
  margin-left: 50px;
  padding: auto;
  justify-content: space-between;
}

.logo_uno {
  width: 150px;
  height: 120px;
  padding-left: 10px;
}

.logo_uno1 {
  width: 150px;
  height: 120px;
  padding-right: 30px;
}

.logo_uno2 {
  width: 150px;
  height: 120px;
  padding-left: 10px;
}

#unopar_2020 {
  padding-left: 20px;
}

#unopar_2023_data {
  padding-left: 20px;
}

#unopar_2020_emge {
  padding-left: 20px;
}
