/*CSS Reset / Normalize
Foi usado o npm install normalize.css
https://github.com/necolas/normalize.css
*/
/*
Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

:root {
  --cor-letras: #464646;
  --cor-de-fundo: #f5f5f5;
  --cor-de-link: #000;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-de-fundo);
  font-family: "Raleway";
  margin: 0;
  padding: 0;
  line-height: 1;
}
ol,
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--cor-de-link);
}

/*Sessão Menu*/

section.menu {
  display: flex;
  height: 45px;
  width: 90%;
  padding: auto;
  align-items: center;
}
section header {
  display: flex;
  margin-left: 20px;
  align-items: center;
  gap: 10px;
}
section img {
  height: 30px;
  width: 20px;
}

section nav ul {
  display: flex;
  gap: 20px;
  margin-left: 30px;
}

/*Sessão Title*/

section .title {
  display: flex;
  gap: 30px;
}
.title__profile {
  margin-top: 30px;
  justify-items: end;
  height: 150px;
  width: 80px;
  border-radius: 50%;
}

/*Sessão About*/

section.about {
}

/*Sessão Hobbies*/

section.hobbies {
}

/* Experiência Acadêmica*/

section.academic {
}

/* experiência*/

section.experience {
}

/*Contato*/

section.formcontato {
}

/*footeer*/

section.footer {
}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {
  /* Menu */

  /*title*/

  /*Skills*/

  /*Hobbies*/

  /*Experiências acadêmicas*/

  /*Expeirência profissional*/
}

/*Mobile*/
@media (min-width: 425px) {
  /*Menu*/

  /*Titulo*/

  /*Sessão sobre*/

  /*Skills*/

  /*Hobbies*/

  /*Formação Acadêmica*/

  /*Experiência Profissional*/

  /*Contato*/

  /*Footer*/
}
